AttestiOSApp.xcodeproj/xcuserdata
Framework
DerivedData
AttestiOSApp.xcodeproj/project.xcworkspace/xcuserdata
AttestiOSApp.xcodeproj/xcshareddata
Gemfile.lock
calabash.framework
*.png
.irb-history
build
